/AdminDashboard.class
/AuthenticationService.class
/ChartService.class
/PlaylistService.class
/SearchService.class
/Spotify.class
/UserManager.class
/MainMenu.class
/MainMenu$DatabaseConnection.class
/DatabaseConnection.class
/MainMenu$User.class
/User.class
/UserService.class
